.App {
  text-align: center;
  padding: 50px;
  text-align: center;
}


.input-area {
  width: 220px;
  height: 30px;
}

.emoji-list {
  display: grid;
  /* border: solid; */
  grid-template-rows: auto;
  grid-template-columns: repeat(10, 50px);
  align-items: center;
  justify-content: center;
  /* justify-items: center; */
}

.emoji {
  margin-bottom: 10px;
  /* display: flex; */
  /* border: solid; */
  font-size: 26px;
}

@media only screen and (max-width: 650px) {
  .emoji-list {
    grid-template-columns: repeat(5, 50px);
  }
}